@using MVC_MobileBankApp
@model Admin
@* @{
    Layout = null;
} *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Admin Profile</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/myCss/indexcss.css" /> *@
</head>


    
    
   <dl>
    <br><br>
    <h2><marquee direction = "left">Admin Details</marquee></h2>

       <dt>
            <h4>@Html.DisplayNameFor(model => model.StaffId) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.StaffId)</h4>
        </dd><br>
    
         <dt>
            <h4>@Html.DisplayNameFor(model => model.FirstName) :</h4>
        </dt>
         <dd>
            <h4>@Html.DisplayFor(model => model.FirstName) </h4>
        </dd><br>
        <dt>
            <h4>@Html.DisplayNameFor(model => model.LastName) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.LastName) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Email) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Email) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.PassWord) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.PassWord) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Age) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Age) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Address) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Address) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.PhoneNumber) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Gender) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Gender) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.MaritalStatus) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.MaritalStatus) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.DateCreated) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.DateCreated) </h4>
        </dd><br>
   </dl><br><br>

   <button style="background-color:darkblue;"><a asp-controller= "Admin" asp-action="Admins">Back to List</a></button>





@* <dl class="row">
    <dt class="col-sm-2">
        FirstName:
    </dt>
    <dd class="col-sm-10">
        @Model.FirstName
    </dd>
    <dt class="col-sm-2">
        Address:
    </dt>
    <dd class="col-sm-10">
        @Model.Address
        
    </dd>
    <dt class="col-sm-2">
        Email:
    </dt>
    <dd class="col-sm-10">
        @Model.Email
    </dd>
    <dt class="col-sm-2">
        Phone:
    </dt>
    <dd class="col-sm-10">
        @Model.PhoneNumber
    </dd>
    
</dl>

<button style="background-color:darkblue;"><a asp-action="Details">Back to List</a></button> *@