@model Bank_App.Models.Customer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Customer Profile</title>
   
</head>
   <dl>
    <br><br>
    <h2><marquee direction = "left">Customer Details</marquee></h2>

       <dt>
            <h4>@Html.DisplayNameFor(model => model.AccountNumber) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.AccountNumber)</h4>
        </dd><br>
          <dt>
            <h4>@Html.DisplayNameFor(model => model.AccountBalance) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.AccountBalance)</h4>
        </dd><br>
          <dt>
            <h4>@Html.DisplayNameFor(model => model.AccountType) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.AccountType)</h4>
        </dd><br>
    
         <dt>
            <h4>@Html.DisplayNameFor(model => model.FirstName) :</h4>
        </dt>
         <dd>
            <h4>@Html.DisplayFor(model => model.FirstName) </h4>
        </dd><br>
        <dt>
            <h4>@Html.DisplayNameFor(model => model.LastName) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.LastName) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Email) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Email) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.PassWord) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.PassWord) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Age) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Age) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Address) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Address) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.PhoneNumber) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.PhoneNumber) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.Gender) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.Gender) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.MaritalStatus) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.MaritalStatus) </h4>
        </dd><br>
         <dt>
            <h4>@Html.DisplayNameFor(model => model.DateCreated) :</h4>
        </dt>
          <dd>
            <h4>@Html.DisplayFor(model => model.DateCreated) </h4>
        </dd><br>
   </dl><br><br>

   <button style="background-color:darkblue;"><a asp-controller= "Customer" asp-action="Customers">Back to List</a></button>




